
/* Your CSS Code here. */
    table {
            border-collapse: collapse;
            width: 50%;
            text-align: center;
        }
    th, td {
            border: 1px solid black;
            padding: 8px;
        }
        th {
            background-color: #8B0000;
            color: white;
        }
 td:first-child {
            font-weight: bold;
        }
        tr:nth-child(odd) td {
            background-color: #d3d3d3;
        }
        tr:nth-child(even) td {
            background-color: #f5b7b1;
        }